body {
    margin: 0;
    padding: 0;
    background-image:url('fon.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
  }

  #game {
     
    position: absolute;


  }

  #score {

position: fixed;
top:10px;
left:50px;


  }

  #timer {

position: fixed;
top: 10px;
left: 1030px;


  }

  #Live {

    position: fixed;
    top: 10px;
    left: 1630px;



  }